body {
  margin: 0;
  padding: 0;
  height: 2000px;
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
  height: 700px;
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#boll {
  position: absolute;
  top: 8%;
  left: 40%;
  margin-left: -120px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #7B1FA2;
  z-index: 10;
  overflow: hidden;
}

#boll h1 {
  font-size: 80px;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 500px;
  color: #fff;
}


#box {
  position: relative;
  top: 15%;
  width: 500px;
  height: 500px;
  margin: auto;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
  z-index: 1;
}

#box2 {
  position: relative;
  top: -60%;
  width: 550px;
  height: 500px;
  margin: auto;
  border-top: 25px solid #fff;
  border-bottom: 25px solid #fff;
  z-index: 100;
}
